# exclude folders
minecraft/.cache
minecraft/.mixin.out
minecraft/.probe
minecraft/.sable
minecraft/.vscode
minecraft/cache
minecraft/coremods
minecraft/saves
minecraft/crash-reports
minecraft/debug
minecraft/Distant_Horizons_server_data
minecraft/dynamic-data-pack-cache
minecraft/dynamic-resource-pack-cache
minecraft/exposures
minecraft/immersive_paintings_cache
minecraft/local
minecraft/logs
minecraft/mods
minecraft/particular_cache
minecraft/saves
minecraft/schematics
minecraft/screenshots
minecraft/simplebackups
minecraft/xaero

# exclude files
minecraft/command_history.txt
minecraft/emi.json
minecraft/fabricloader.log
minecraft/ponders_watched.json
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/win_event*.txt